set -e

cd /d/projects/{{ name }}

{% block body %}
{% endblock %}

/d/Python{{ ver }}/Scripts/virtualenv --system-site-packages /d/virtualenvs/{{ name }}
if [ -f requirements.txt ]; then
    /d/virtualenvs/{{ name }}/Scripts/pip install -r requirements.txt
fi
